PORT=3001
MONGODB_URI=mongodb://127.0.0.1:27017/sabana-marketplace
JWT_SECRET=sabana_marketplace_secret_2024_muy_seguro
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
FRONTEND_URL=http://localhost:3000
